<%= render 'layouts/errors', :object => @review %>

<%= form_for [@product, @review] do |f| %>
  <div class='form-group'>
    <%= f.label :author %>
    <br>
    <%= f.text_field :author %>
  </div>
  <div class='form-group'>
    <%= f.label :content %>
    <br>
    <%= f.text_field :content %>
  </div>
  <div class='form-group'>
    <%= f.label :rating %>
    <br>
    <%= f.number_field :rating, in: 1..5, step: 1 %>
  </div>
  <%= f.submit :class => 'btn btn-outline-info'%>
<% end %>
